html {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  color: #b38606;
}

header {
  background: #483e33;
  padding: 10px;
}

header > h1 {
  font-size: 3rem;
  color: #b38606;
}

a {
  text-decoration: none;
  color: #b38606;
}

hr {
  border-color: #483e33;
}

.sidebar-nav {
  padding: 10px;
}

.container-sidebar-main {
  display: flex;
  height: 100%;
  background: #2a231a;
}

.container-sidebar {
  width: 200px;
}

.container-main {
  flex: 1;
}

.container-main h2 {
  font-size: 2rem;
}

main > h1 {
  font-size: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 200px;
}
